h1 {
    margin: 0%;
    font-family: 'Days One', sans-serif;
    color: rgba(29, 145, 190, 0.884);
    text-shadow: -3px 1px 6px rgba(187,187,187,0.92);
    font-size: 400%;
}

.botao {
    width: 15%;
    margin: 0.1%;
    font-size: 2em;
}
.maior {
    color: blue;
    font-size: 2em;
}

.menor {
    color: crimson;
    font-size: 2em;
}

.contador {
    font-family: 'Days One', sans-serif;
    font-size: 3em;
}

.displayContador {
    border: solid;
    border-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    background: rgba(29, 145, 190, 0.884);
    box-shadow: -3px 6px #888888;
}

.flexContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    align-items: center;
}

.flexItem {
    align-self: baseline;
}
