.comparacao {
    font-family: 'Days One', sans-serif;
    font-size: 1em;
}

.botao {
    width: 15%;
    margin: 0.1%;
}
.maior {
    color: blue;
}

.menor {
    color: crimson;
}

.contador {
    font-family: 'Days One', sans-serif;
    font-size: 3em;
}

.displayContador {
    border: solid;
    border-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    background: rgba(29, 145, 190, 0.884);
}

.flexContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    align-items: center;
}

.flexItem {
    align-self: baseline;
}
